.location-search-input {
    width: 500px;
    height: 50px;
    border: none;
    box-shadow: 1px 1px 1px 1px #D3D3D3;
    padding: 0 10px;
    margin-bottom: 20px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #505050;
}

.autocomplete-dropdown-container {
    margin: 2px 5px 10px 5px;
}